
.list {
  width: 500px;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

.listItem {
  margin-bottom: 20px;
}

.listItemText {
  margin-right: 10px;
}

.button {
  margin-left: 20px;
  font-size: 10px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  background-color: #279abd;
}